<!DOCTYPE html>
<html>
<head>
  <title>Start Job</title>
  <style>
    body {
      height: 100vh;
      margin: 0;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: Helvetica neue, roboto;
    }
    h1 {
      color: #bdbdbd;
      font-weight: 300;
    }
    .processlist {
      display: inline-block;
      text-align: left;
    }
    .process {
      margin: 3px;
      border: 1px transparent solid;
    } 
    .process:hover { 
      background-color: lightyellow; 
      border: 1px gray solid; 
    }
  </style>
</head>
<body>

<h1>Start Job</h1>

<form action="{{ url }}" method="POST">
  <p>{{ _("Please select process to start") }}</p>

  <div class="processlist"> 
  {% for process in available_processes %}
    <div class="process"><input type="radio" name="process" value="{{ process }}" />{{ process }}</div>
  {% endfor %}
  </div>

  <p><input type="submit" value="Start"><p>
</form>

</body>
</html>
