<!DOCTYPE html>
<html>
<title Start Job>
<head>
<style>
  body {
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Helvetica neue, roboto;
  }
  h1 {
    color: #bdbdbd;
    font-weight: 300;
  }
</style>
</head>
<body>

<h1>Startn Job</h1>
  <form action="{{ uri }}" method="POST">
    <p>Please select process name to start</p>
    <select name="process_name" size="5">
      {% for process in available_processes %}
        <option value="{{ process }}">{{ process }}</option>
      {% endfor %}
    </select>
    <p><input type="submit" value="Start"><p>
  </form>

</body>
</html>
